main {
    padding: 15px;
    background-color:  rgb(24, 24, 24);
}

.content_info {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}

#wellcome_msg {
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 17px;
    text-align: left;
    width: 400px;
    margin-bottom: 50px;
}


#local_coffee {
    border-radius: 10px;
    width: 460px;
}


@media screen and (max-width:768px) {

    .content_info {
        display: block;
    }
    #photo_area_info {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #local_coffee{
        width:  80%;
    }
}